body{
  background-image:url('Art.jpg');
  background-repeat: no-repeat;

  background-size: cover;
}

.App{
  display:flex;
  flex-direction: column;
  align-items: center;
  }

  .btn{
    padding:20px;
    border:none;
background-color:rgba(33, 79, 145, 0.877);
color:white;
font-family:'Roboto', sans-serif;
width:37%;
height:20%;
font-size: 20px;

  }

  .advice{
    font-family:'Roboto', sans-serif;
    color: #233567;
    font-size: 47px;
    font-weight: bolder;
  }


  @media all and (max-width:500px){
    .btn{
    
  margin-top: 30%;
  width:47%;
  height:20%;
  font-size: 16px;
  
    }
  
    .advice{
      margin-top:10%;
      font-family:'Roboto', sans-serif;
      color: #233567;
      font-size: 27px;
      font-weight: bolder;
    }

  }
